    body {
        background-color: #FFFDD0;
        font-family: Red Hat;
        margin: 0;
    }

    @font-face {
        font-family: Red Hat;
        src: url('/Assets/RedHat/RedHatDisplay-VariableFont_wght.ttf');
    }

    nav {
        margin-top: 1vw;
        margin-left: 1vw;
        display: flex;
        width: 100%;
        height: 6vw;
        overflow: hidden;
        align-items: center;
        box-shadow: 10px 10px 5px #fff899;
        font-weight: 500;
        
    }

    nav img {
        width: 5vw;
        margin: 2vw;
        
    }
     
  
    .navlist {
        flex-grow: 1; 
        display: flex;
        justify-content: center; 
    }

    .navlist ul {
        display: flex;
        list-style-type: none;
        gap: 5vw;
        margin: 0;
        padding: 0;
    }

    .navlist ul a {
        text-decoration: none;

    }

    .navlist ul a:visited {
        color: black;
    }

    .navlist ul a:hover {
        color: lightcoral;
    }

    .bodyblockcontainer {
        margin-top: 15vw;
        display: flex;
        justify-content: center;
        

        
    }

    .bodyblock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0px;
    }

    #duck_membership {
        text-align: center;
    }


    .buttons {
        width: 15vw;
        height: 5vw;
        border-radius: 100px;
        color: #1E1E1E;
        font-size: 1vw;
        background-color: #D0D2FF;
        font-weight: 700;
        border: 0;
        filter: drop-shadow(5px 5px 5px grey);
        cursor: pointer;

        

    }


    .buttons a {
        text-decoration: none;
        color: black;
    }

    .buttons:hover {
        background-color: #216f6d;
        transition: 90ms;
        transform: translate(5px,0px);
    }


        .buttonblock {
        display: flex;
        margin-top: 3vw;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .button2 {
        background-color: #36A7A4;
    }

    #userimg {
        height: 4vw;
        width: 4vw;
        opacity: 0.8;
    }

    #buttonimg {
        background-color: #FFFDD0 ;
        border: 0;
        cursor: pointer;

    }

   

    .secondpagecointainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #overview h1 {
        text-align: center;
        font-weight: 400;
        font-size: 50px;
    }

    #overview {
        margin-top: 25vw;
        
    }

    #overview_text a {
        text-decoration: none;
        font-weight: 500;
        color: #000000;
    }

    
    #overview_grid {
        grid-template-columns: 25vw 25vw   ;
        gap:1vw;
        grid-template-rows: auto auto;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        

    }

    #sneakpeak {
        padding: 10px;
        background-color: #f7f4b7;
        border-radius: 15px;
        line-height: 15px;

    }

    #Testimonials {
        padding: 10px;
        background-color: #f7f4b7;
        border-radius: 15px;
        line-height: 15px;
    }

    #sneakpeak p {
        font-weight: 400;
    }

    #overview p {
        line-height: .8vw;
        text-align: center;
        margin-bottom: 8vw;
    }

    #overview_text {
        font-size: 20px;
        font-weight: 200;
    }   
    
